.navbar{
    padding-top: 0;
    padding-bottom: 0;
    background-color: black;
}
.divHeader1{
    color: white;
    background-color: black;
    height: 60px;
}
.divHeader{
    color: white;
    background-color: black;
}
.navbarResponsive{
    padding-left: 10px;
    border-radius: 10px;
}
.divHeader:hover{
    background-color: black;
}
.divHeaderText,.divHeaderText2{
    color: white;
}
.divHeaderText2:hover{
    color: black;
}
.divHeaderText:hover{
    color: white;
}
.banner{
    background-color: black;
    background-size: cover ;
    width: 100%;
    height: 100%;
}

